---
import BaseLayout from "../layouts/BaseLayout.astro";
import { promotions } from "../data/promotions";
import HeaderScreen from "../components/HeaderScreen.astro";
import PromotionForm from "../components/PromotionForm.astro";
import discoveryForm from "../data/discovery-form-data.js";
import ImageComp from "../components/ImageComp.astro";

const { data } = promotions;

const endDate = data.countDownTimer.endDate;
---

<BaseLayout siteTitle={data.pageTitle} siteDescription={data.pageDescription} keywords={data.pageKeywords}>
  <!-- HEADER -->
  <HeaderScreen content={data.header} />

  <div class="bg-white py-16 lg:py-24">
    <div class="mx-auto max-w-2xl px-6 text-center lg:max-w-7xl lg:px-8">
      <div
        class="max-w-5xl mx-auto tracking-tight font-semibold text-gray-900 text-lg sm:text-2xl md:text-3xl lg:text-4xl"
      >
        <span class="font-bebas font-bold text-gray-900 text-4xl lg:text-6xl">{data.countDownTimer.title}</span>

        <div class="my-8 flex gap-4 justify-center sm:gap-6 lg:gap-8">
          <div class="flex flex-col gap-2 justify-center">
            <p id="countdown-days" class="text-accent-300">00</p>
            <p class="text-gray-900 font-medium">Days</p>
          </div>

          <div class="flex flex-col gap-2 justify-center">
            <p id="countdown-hours" class="text-accent-300">00</p>
            <p class="text-gray-900 font-medium">Hours</p>
          </div>

          <div class="flex flex-col gap-2 justify-center">
            <p id="countdown-minutes" class="text-accent-300">00</p>
            <p class="text-gray-900 font-medium">Minutes</p>
          </div>

          <div class="hidden flex-col gap-2 justify-center sm:flex">
            <p id="countdown-seconds" class="text-accent-300">00</p>
            <p class="text-gray-900 font-medium">Seconds</p>
          </div>
        </div>
      </div>
      <p class="text-sm font-semibold text-gray-500 mt-2 sm:text-base lg:text-lg">
        {data.countDownTimer.note}
      </p>

      <div class="mt-12 mb-6 flex justify-center lg:justify-start align-middle items-center">
        <a href={data.countDownTimer.cta.link} class="btn-accent w-full mx-auto md:w-auto"
          >{data.countDownTimer.cta.name}</a
        >
      </div>
    </div>
  </div>

  <section class="bg-gray-200 px-6 py-16 lg:py-24">
    <div class="max-w-5xl mx-auto pb-16 lg:pb-24">
      <h2
        class="mx-auto font-bebas text-center font-bold text-primary-800 whitespace-pre-line text-4xl lg:text-6xl lg:max-w-3xl"
        set:html={data.offers[0].title}
      />
      <p
        class="mx-auto mt-4 uppercase text-center font-medium text-accent-300 text-lg lg:text-xl lg:max-w-3xl"
        set:html={data.offers[0].subTitle}
      />
    </div>

    <div class="hidden gap-8 justify-center md:flex">
      {
        data.imgCards.map((item) => (
          <ImageComp
            imagePath={item.src}
            imageAlt={item.alt}
            styles="w-1/4 max-w-lg rounded-lg duration-300 transition-all ease-in-out hover:scale-105 hover:brightness-75"
          />
        ))
      }
    </div>

    <div class="slider-row md:hidden">
      <div class="swiper creativeSwiper magic-cursor w-full h-full">
        <div class="swiper-wrapper pb-8">
          {
            data.imgCards.map((item) => (
              <div class="swiper-slide">
                <ImageComp imagePath={item.src} imageAlt={item.alt} />
              </div>
            ))
          }
        </div>
        <div class="hidden lg:block">
          <div class="swiper-pagination"></div>
          <div class="swiper-button-next"></div>
          <div class="swiper-button-prev"></div>
        </div>
      </div>
    </div>

    <div class="max-w-5xl mx-auto pt-16 lg:pt-24">
      <h2
        class="mx-auto font-bebas text-center font-bold text-primary-800 whitespace-pre-line text-4xl lg:text-6xl lg:max-w-3xl"
        set:html={data.offers[1].title}
      />
      <p
        class="mx-auto mt-4 uppercase text-center font-medium text-accent-300 text-lg lg:text-xl lg:max-w-3xl"
        set:html={data.offers[1].subTitle}
      />
    </div>
  </section>

  <PromotionForm content={discoveryForm.data.info} />

  <script define:vars={{ endDate }}>
    const countDownDays = document.getElementById("countdown-days");
    const countDownHours = document.getElementById("countdown-hours");
    const countDownMinutes = document.getElementById("countdown-minutes");
    const countDownSeconds = document.getElementById("countdown-seconds");
    const end = new Date(endDate).getTime();

    function updateCountDown() {
      const now = new Date().getTime();
      const diff = end - now;

      const countDown = {
        days: 0,
        hours: 0,
        minutes: 0,
        seconds: 0,
      };

      if (diff > 0) {
        countDown.days = Math.floor(diff / (1000 * 60 * 60 * 24));
        countDown.hours = Math.floor((diff / (1000 * 60 * 60)) % 24);
        countDown.minutes = Math.floor((diff / (1000 * 60)) % 60);
        countDown.seconds = Math.floor((diff / 1000) % 60);
      }

      countDownDays.textContent = countDown.days.toString().padStart(2, "0");
      countDownHours.textContent = countDown.hours.toString().padStart(2, "0");
      countDownMinutes.textContent = countDown.minutes.toString().padStart(2, "0");
      countDownSeconds.textContent = countDown.seconds.toString().padStart(2, "0");
    }

    updateCountDown();

    setInterval(updateCountDown, 1000);
  </script>

  <script src="../scripts/creativeSwiper.js"></script>
</BaseLayout>
