---
import "../styles/global.css";
import {
  COMPANY_NAME,
  SITE_DESCRIPTION,
  KEYWORDS,
} from "../consts";

interface Props {
  title: string;
  description: string;
  keywords: string;
  image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const {
  title,
  description,
  keywords,
  image = "/blog-placeholder-1.jpg",
} = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<!-- Site Created By:    
       _____  _       _     _     _____           _     _           
      |  __ \(_)     | |   | |   |  __ \         | |   | |          
      | |__) |_  __ _| |__ | |_  | |__) |   _  __| | __| | ___ _ __ 
      |  _  /| |/ _` | '_ \| __| |  _  / | | |/ _` |/ _` |/ _ \ '__|
      | | \ \| | (_| | | | | |_  | | \ \ |_| | (_| | (_| |  __/ |   
      |_|  \_\_|\__, |_| |_|\__| |_|  \_\__,_|\__,_|\__,_|\___|_|   
      |  \/  |   __/ |  | |      | | (_)                            
      | \  / | _|___/ __| | _____| |_ _ _ __   __ _                 
      | |\/| |/ _` | '__| |/ / _ \ __| | '_ \ / _` |                
      | |  | | (_| | |  |   <  __/ |_| | | | | (_| |                
      |_|  |_|\__,_|_|  |_|\_\___|\__|_|_| |_|\__, |                
                                               __/ |                
                                              |___/                 

    Nice to see you here.  Find new student pilots with Right Rudder Marketing.  https://rightruddermarketing.com/contact-us -->

<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="icon" type="image/svg+xml" href="/logo-new.ico" />
<meta name="generator" content={Astro.generator} />

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />
<meta name="description" content={description} />
<meta name="keywords" content={keywords} />

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website" />
<meta property="og:url" content={Astro.url} />
<meta property="og:title" content={title} />
<meta property="og:description" content={description} />
<meta property="og:image" content={new URL(image, Astro.url)} />

<!-- Twitter -->
<meta property="twitter:card" content="summary_large_image" />
<meta property="twitter:url" content={Astro.url} />
<meta property="twitter:title" content={title} />
<meta property="twitter:description" content={description} />
<meta property="twitter:image" content={new URL(image, Astro.url)} />

<link rel="sitemap" href="/sitemap-index.xml" />

<!-- Preconnect to Google Fonts -->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

<!-- Preload the Google Font stylesheet -->
<link rel="preload" href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" as="style" onload="this.onload=null;this.rel='stylesheet'">

<!-- Fallback if JavaScript is disabled -->
<noscript>
  <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</noscript>


<!-- UPDATE GTAG PLEASE -->
<!-- Google tag (gtag.js) -->
<script
  type="text/partytown"
  async
  src="https://www.googletagmanager.com/gtag/js?id=G-WMD4VK3FSW">
</script>
<script type="text/partytown">
  window.dataLayer = window.dataLayer || [];
  function gtag() {
    dataLayer.push(arguments);
  }
  gtag("js", new Date());

  gtag("config", "YOURIDGOESHERE");
</script>

<!-- NEED TO UPDATE SCHEMA -->
<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "LocalBusiness",
    "name": "Universal Flight Training",
    "description": "Universal Flight Training, located at Sarasota Bradenton International Airport, offers personalized flight training with a 98% checkride pass rate and over 500 graduates since 2010. Led by experienced instructors, UFT provides flexible programs tailored to each student, from Private Pilot to Certified Flight Instructor courses. Discover more about our mission, values, and modern aircraft fleet today.",
    "keywords": "Universal Flight Training, located at SRQ - Sarasota Bradenton International Airport in Sarasota, how to become a pilot, flight school near, private pilot, discovery flight, introductory flight, instrument rating, commercial certificate, certified flight instructor, airline programs, how to become an airline pilot, flight school, pilot training, Universal Flight Training, Sarasota flight school, personalized flight training, flexible flight programs, Private Pilot License training, Certified Flight Instructor (CFI) Sarasota, multi-engine training Sarasota, aviation school in Florida, Cessna 172 training, discovery flights Sarasota, pilot school near me, flight training with high pass rate, Bradenton, Sarasota, Desoto County, Venice, St. Pete",
    "image": "/public/uft-logo-new-bg-gradient-blue.png",
    "logo": "/public/uft-logo-oval.png",
    "telephone": "(941) 210-4410",
    "email": "universalflight@gmail.com",
    "address": {
      "@type": "PostalAddress",
      "streetAddress": "8140 15th St E",
      "addressLocality": "Sarasota",
      "addressRegion": "FL",
      "addressCountry": "US",
      "postalCode": "34243"
    },
    "currenciesAccepted": "USD",
    "paymentAccepted": "Cash, Credit Card, Visa, Mastercard, American Express, Discover, Checks",
    "areaServed": {
      "@type": "GeoCircle",
      "geoMidpoint": {
        "@type": "GeoCoordinates",
        "latitude": 27.395872705629657,
        "longitude": -82.5474482
      },
      "geoRadius": 9000
    },
    "aggregateRating": {
      "@type": "AggregateRating",
      "ratingValue": "4.8",
      "reviewCount": "26"
    },
    "url": "https://www.flyuft.com/",
    "priceRange": "$",
    "geo": {
      "@type": "GeoCoordinates",
      "latitude": 27.395872705629657,
      "longitude": -82.5474482
    },
    "openingHoursSpecification": [
      {
        "@type": "OpeningHoursSpecification",
        "dayOfWeek": [
          "Monday",
          "Tuesday",
          "Wednesday",
          "Thursday",
          "Friday"
        ],
        "opens": "09:00",
        "closes": "18:00"
      }
    ],
    "makesOffer": {
      "@type": "Offer",
      "itemOffered": {
        "@type": "Service",
        "serviceType": "Flight Instruction"
      },
      "priceCurrency": "USD",
      "price": "Varies"
    },
    "memberOf": {
      "@type": "Organization",
      "name": "Cessna Pilot Center"
    },
    "identifier": [
      {
        "@type": "PropertyValue",
        "name": "IATA Code",
        "value": "SRQ"
      },
      {
        "@type": "PropertyValue",
        "name": "ICAO Code",
        "value": "KSRQ"
      },
      {
        "@type": "PropertyValue",
        "name": "Airport Code",
        "value": "SRQ"
      }
    ],
    "hasMap": "https://maps.app.goo.gl/ajW9ZBsc3iLjU28N6"
  }
</script>
